---
---
@import "site-theme";

@media (max-width: 990px){
    .card-columns{
        -webkit-column-count: 2;
        column-count: 2;
    }
}

@media (max-width: 766px){
    .card-columns{
        -webkit-column-count: auto;
        column-count: auto;
    }
    .navbar{
        display: block;
    }
    .navbar-nav{
        font-size: 0.75rem;
    }
    h2{
        font-size: 1.5rem;
    }
    .flex-shrink-0.container.mt-5 {
      margin-top: 1rem !important;
    }
}

.navbar-nav{
    -ms-flex-direction: row;
    flex-direction: row;
    margin-left: auto;
}

.navbar-nav .nav-link{
    padding-right: 1rem!important;
}

.navbar-brand{
    margin-bottom: 0;
}

.fa-1x{
    font-size: 1.8em;
}

.pb-3, .py-3{
    padding-bottom: 1.5rem!important;
}

.social-buttons{
    padding-bottom: 10px;
}

.timeline-body{
    background-color: white;
}

.timeline-body.awards::after{
    background-color: #28A745;
}

.timeline-body.awards .timeline-item::after{
    border-color: #28A745;
}

.navbar-brand.active::after{
    width: 100%;
}

.post h1, .post h2{
    margin-top: 0;
}

.no-bg{
    background-color: rgba(0,0,0,0)
}

#container {
    width: 80%;
}

.post.card.border.border-primary:hover {
  filter: brightness(90%);
}

@media print {
    .no-print, .no-print * {
      display: none !important;
    }
  }

/*Darkmode toggle*/
.theme-switch-wrapper {
    display: flex;
    align-items: center;
    align-items: center;
    justify-content: center;
  
    em {
      margin-left: 10px;
      font-size: 1rem;
    }
  }
  .theme-switch {
    display: inline-block;
    height: 34px;
    position: relative;
    width: 60px;
  }
  
  .theme-switch input {
    display:none;
  }

  .slider.round {
    cursor: default;
  }

  .slider-toggle {
    cursor: pointer;
  }
  
  .slider {
    background-color: #555;
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;
  }
  
  .slider-toggle {
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    color: #707070;
    z-index: 1;
    background-color: #fff;
    bottom: 4px;
    height: 26px;
    left: 4px;
    position: absolute;
    transition: .4s;
    width: 26px;
  }

  .slider-toggle::after {
    // Dark
      content: "\f186";
  }
  
  input:checked + .slider-toggle + .slider {
    background-color: #66bb6a;
  }
  
  input:checked + .slider-toggle {
    transform: translateX(26px);
  }

  input:checked + .slider-toggle::after {
    // Light
    content: "\f185";
  }
  
  .slider.round {
    border-radius: 34px;
  }
  
  .slider-toggle {
    border-radius: 50%;
  }