{% assign sorted = site.certificates | sort: 'date' | reverse %}

<br>
<h2>Awards & Honors</h2>
<hr>

<div class="card-columns m-3 mt-1">
  {% for certificate in sorted %}
    {%- if certificate.type[0] == "Award" -%}
    {% include certificates/certificate-card.html %}
    {%- endif -%}
  {% endfor %}
</div>
<br>
<h2>Technical Certifications</h2>
<hr>

<div class="card-columns m-3 mt-1">
  {% for certificate in sorted %}
    {%- if certificate.type[0] == "Technical" -%}
    {% include certificates/certificate-card.html %}
    {%- endif -%}
  {% endfor %}
</div>


